tramp
session*
*.elc
tabsession.el
custom-vars.el
places
org-roam.db
history
projects
.project
project-window-list
.org-id-locations
*.eld
bookmarks
url/cookies
image-dired/
tutorial/
tree-sitter/
auto-save-list/
elpaca/
eln-cache/
org-persist/
straight/
emojis/
elpy/
auto-save-list/
eln-cache/
elpa/
.cache/
transient/
eshell/history
eshell/lastdir